<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{0,0},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{266,0},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{532,0},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{798,0},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{0,150},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{266,150},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{532,150},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{798,150},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{0,300},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{266,300},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{532,300},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{798,300},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{0,450},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{266,450},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{532,450},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{798,450},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemigoslevel1.png</string>
            <key>size</key>
            <string>{1064,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1399f95be1abfbf1299e78e456358cc3:22457654a27271bc48b90c51a9d38a72:8b9e8f11cbf2c83954d0d4883aa70ee6$</string>
            <key>textureFileName</key>
            <string>enemigoslevel1.png</string>
        </dict>
    </dict>
</plist>
