<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{0,0},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{266,0},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{532,0},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{0,150},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{266,150},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{532,150},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{0,300},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{266,300},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{532,300},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{0,450},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{266,450},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{532,450},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{0,600},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{266,600},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{532,600},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{0,750},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nivel2.png</string>
            <key>size</key>
            <string>{798,900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:615b3dbdac5f71a4f31c16154051c295:e26ca80db5b6935b85d5d45b7dc2f91b:b021fa3a1cf1a46083053326a8d46101$</string>
            <key>textureFileName</key>
            <string>nivel2.png</string>
        </dict>
    </dict>
</plist>
