<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abajo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{0,101},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>abajo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,58}</string>
                <key>spriteSourceSize</key>
                <string>{57,58}</string>
                <key>textureRect</key>
                <string>{{0,157},{57,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>abajo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{55,56}</string>
                <key>textureRect</key>
                <string>{{60,101},{55,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>abajo4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,61}</string>
                <key>spriteSourceSize</key>
                <string>{62,61}</string>
                <key>textureRect</key>
                <string>{{0,277},{62,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arriba1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,49}</string>
                <key>spriteSourceSize</key>
                <string>{59,49}</string>
                <key>textureRect</key>
                <string>{{0,0},{59,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arriba2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,52}</string>
                <key>spriteSourceSize</key>
                <string>{53,52}</string>
                <key>textureRect</key>
                <string>{{0,49},{53,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arriba3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{53,49},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arriba4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,49}</string>
                <key>spriteSourceSize</key>
                <string>{51,49}</string>
                <key>textureRect</key>
                <string>{{59,0},{51,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>derecha1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{57,157},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>derecha2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,60}</string>
                <key>spriteSourceSize</key>
                <string>{41,60}</string>
                <key>textureRect</key>
                <string>{{0,217},{41,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>derecha3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,60}</string>
                <key>spriteSourceSize</key>
                <string>{44,60}</string>
                <key>textureRect</key>
                <string>{{41,217},{44,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>derecha4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,64}</string>
                <key>spriteSourceSize</key>
                <string>{45,64}</string>
                <key>textureRect</key>
                <string>{{51,339},{45,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>izquierda1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,63}</string>
                <key>spriteSourceSize</key>
                <string>{51,63}</string>
                <key>textureRect</key>
                <string>{{0,339},{51,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>izquierda2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,62}</string>
                <key>spriteSourceSize</key>
                <string>{42,62}</string>
                <key>textureRect</key>
                <string>{{62,277},{42,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>izquierda3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,70}</string>
                <key>spriteSourceSize</key>
                <string>{48,70}</string>
                <key>textureRect</key>
                <string>{{43,403},{48,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>izquierda4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,65}</string>
                <key>spriteSourceSize</key>
                <string>{43,65}</string>
                <key>textureRect</key>
                <string>{{0,403},{43,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nenemigos3.png</string>
            <key>size</key>
            <string>{115,473}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:335562bb508fc2e434be673b3d4dbe2b:f3d1d39bd1a87c70fbfeff9138bdd5e4:06bd80a7cabd027ff0533c677eded5a6$</string>
            <key>textureFileName</key>
            <string>nenemigos3.png</string>
        </dict>
    </dict>
</plist>
