<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AtaqueAbajo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{266,0},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AtaqueAbajo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{532,0},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AtaqueAbajo4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{0,150},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AtaqueArriba1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{266,150},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AtaqueArriba2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{532,150},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AtaqueArriba3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{0,300},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AtaqueArriba4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{266,300},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AtaqueDerecha1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{532,300},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AtaqueDerecha4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{532,450},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AtaqueIzquierda1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{0,600},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AtaqueIzquierda2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{266,600},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AtaqueIzquierda3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{532,600},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ataqueAbajo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{0,0},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ataqueDerecha2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{0,450},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ataqueDerecha3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{266,450},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ataqueIzquierda4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,150}</string>
                <key>spriteSourceSize</key>
                <string>{266,150}</string>
                <key>textureRect</key>
                <string>{{0,750},{266,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ataque-enemigo-4.png</string>
            <key>size</key>
            <string>{798,900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:236829b2510ab0258e260956a886326e:e5c5ea8e734c41f800bda25f355b000b:bf6a20e2eb49fdae866cc2c8ecd59ada$</string>
            <key>textureFileName</key>
            <string>ataque-enemigo-4.png</string>
        </dict>
    </dict>
</plist>
